In [1]:
import numpy as np
import pandas as pd

In [19]:
from numpy.random import randn
np.random.seed(101) 
#this is pseudo-random, it depends on the seed(=101) and it always gives the same series 1st, 2nd,... time

In [20]:
df = pd.DataFrame(randn(5,4), index='A B C D E'.split(), columns='W X Y Z'.split())

In [21]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [25]:
#show first column
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [37]:
#show columns 'W' and 'X'
df[['W','X']] #notice double [[]]

          W         X
A  2.706850  0.628133
B  0.651118 -0.319318
C -2.018168  0.740122
D  0.188695 -0.758872
E  0.190794  1.978757

In [36]:
#show 3 first rows
df[:3]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001

In [38]:
#show columns 'X' 'Y' for the last 2 rows
df[-2:][['X', 'Y']]

          X         Y
D -0.758872 -0.933237
E  1.978757  2.605967

In [39]:
#create a new column for the sum
df['SUM']=df['W']+df['X']+df['Y']+df['Z']

In [40]:
df

          W         X         Y         Z       SUM
A  2.706850  0.628133  0.907969  0.503826  4.746778
B  0.651118 -0.319318 -0.848077  0.605965  0.089688
C -2.018168  0.740122  0.528813 -0.589001 -1.338233
D  0.188695 -0.758872 -0.933237  0.955057 -0.548357
E  0.190794  1.978757  2.605967  0.683509  5.459028

In [41]:
#drop this new column, NOT permanently
df.drop('SUM', axis=1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [42]:
df

          W         X         Y         Z       SUM
A  2.706850  0.628133  0.907969  0.503826  4.746778
B  0.651118 -0.319318 -0.848077  0.605965  0.089688
C -2.018168  0.740122  0.528813 -0.589001 -1.338233
D  0.188695 -0.758872 -0.933237  0.955057 -0.548357
E  0.190794  1.978757  2.605967  0.683509  5.459028

In [43]:
#drop it PERMANENTLY
df.drop('SUM', axis=1, inplace=True)

In [44]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [47]:
#locate with loc
df.loc[['A','E'], ['W','Z']]

          W         Z
A  2.706850  0.503826
E  0.190794  0.683509

In [49]:
#Conditional Selection
df[df['W']>0]['Y'] #condition on 'W' column but data from 'Y' column

A    0.907969
B   -0.848077
D   -0.933237
E    2.605967
Name: Y, dtype: float64

In [53]:
#in case more than one conditions should be inside ()
df[(df['W']>0) & (df['Y']>0)]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
E  0.190794  1.978757  2.605967  0.683509

In [54]:
type(df['W'])  # in fact columns are Series

pandas.core.series.Series

In [55]:
type(df) #Dataframe is a collection of Series

pandas.core.frame.DataFrame

In [57]:
df.shape # it is an attribute and gives a tuple with the dimensions

(5, 4)