In [1]:
import numpy as np
import pandas as pd

In [2]:
dct = {'A':[1,2,np.nan] , 'B':[5, np.nan, np.nan] , 'C':[1,2,3] }

In [3]:
df = pd.DataFrame(dct)

In [4]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [5]:
#dropna method for x
df.dropna()

     A    B  C
0  1.0  5.0  1

In [6]:
#dropna method for y
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [7]:
#threshold for the 'good' values
df.dropna(thresh=1)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [8]:
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [9]:
#fillna method with a scalar
df.fillna(0)

     A    B  C
0  1.0  5.0  1
1  2.0  0.0  2
2  0.0  0.0  3

In [10]:
#fillna method with the mean of each column
df.fillna(df.mean())

     A    B  C
0  1.0  5.0  1
1  2.0  5.0  2
2  1.5  5.0  3