In [2]:
import pandas as pd

In [3]:
sal = pd.read_csv('Salaries.csv')

In [4]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [5]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [6]:
sal['BasePay'].mean()

66325.44884050643

In [7]:
sal['OvertimePay'].max()

245131.88

In [8]:
#What is the job title of JOSEPH DRISCOLL ? Note: Use all caps
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN

In [12]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [15]:
# What is the name of highest paid person (including benefits)?
sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [18]:
#or using loc and idxmax()
sal.loc[sal['TotalPayBenefits'].idxmax()]['EmployeeName']

'NATHANIEL FORD'

In [19]:
sal['TotalPayBenefits'].idxmax()

0

In [22]:
# What is the name of lowest paid person (including benefits)?
sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].min()]['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

In [25]:
#or using loc and idxmin()
sal.loc[sal['TotalPayBenefits'].idxmin()]['EmployeeName']

'Joe Lopez'

In [26]:
# What was the average (mean) BasePay of all employees per year? (2011-2014) ?
sal['BasePay'].mean()

66325.44884050643

In [28]:
# What was the average (mean) BasePay of all employees per year? (2011-2014) ?
# help : groupby
sal.groupby('Year').mean()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Notes,Status
Year,,,,,,,,,
2011,18080.0,63595.956517,4531.065429,3617.081926,NaN,71744.103871,71744.103871,NaN,NaN
2012,54542.5,65436.406857,5023.417824,3653.437583,26439.966967,74113.262265,100553.229232,NaN,NaN
2013,91728.5,69630.030216,5281.641980,3819.969007,23829.076572,77611.443142,101440.519714,NaN,NaN
2014,129593.0,66564.421924,5401.993737,3505.421251,24789.601756,75463.918140,100250.918884,NaN,NaN

In [29]:
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [35]:
#How many unique job titles are there? 
sal['JobTitle'].nunique()

2159

In [43]:
# What are the top 5 most common jobs?
sal['JobTitle'].value_counts().head(5) #value_count() counts unique values

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [52]:
type(sal['JobTitle'].value_counts())

pandas.core.series.Series

In [67]:
sal['JobTitle'].value_counts() # their population is not the same as the whole Dataframe

Transit Operator                                      7036
Special Nurse                                         4389
Registered Nurse                                      3736
Public Svc Aide-Public Works                          2518
Police Officer 3                                      2421
Custodian                                             2418
TRANSIT OPERATOR                                      2388
Firefighter                                           2359
Recreation Leader                                     1971
Patient Care Assistant                                1945
Deputy Sheriff                                        1933
Police Officer                                        1476
SPECIAL NURSE                                         1402
Public Service Trainee                                1328
REGISTERED NURSE                                      1219
Police Officer 2                                      1141
Attorney (Civil/Criminal)                             1126
Porter                                                1095
Sergeant 3                                            1047
General Laborer                                       1033
EMT/Paramedic/Firefighter                              918
Gardener                                               894
Parking Control Officer                                868
Senior Clerk                                           840
Library Page                                           799
CUSTODIAN                                              796
FIREFIGHTER                                            794
POLICE OFFICER III                                     779
Clerk                                                  764
Eligibility Worker                                     760
                                                      ...
HEAVY EQUIPMENT OPERATIONS ASSISTANT SUPERVISOR          1
CHIEF DISTRICT ATTORNEY'S INVESTIGATOR                   1
TRAFFIC HEARING OFFICER                                  1
CAPTAIN, BUREAU OF FIRE PREVENTION AND PUBLIC SAFE       1
MENTAL HEALTH HEARING OFFICER                            1
Chief Investment Officer                                 1
CHIEF OF POLICE                                          1
IS Technician Assistant                                  1
LIBRARIAN II - ASIAN ARTS                                1
CONFIDENTIAL SECRETARY CITY ATTORNEY                     1
PUBLIC SAFETY COMMUNICATIONS TECHNICIAN                  1
CHIEF VICTIM/WITNESS INVESTIGATOR                        1
MAYOR'S PROGRAM MANAGER                                  1
SHERIFF                                                  1
Cfdntal Sctry to Distric Atty                            1
TRIAL DELAY REDUCTION COORDINATOR                        1
VETERNIARY LABORATORY TECHNOLOGIST                       1
CITY PLANNING GRAPHICS SUPERVISOR                        1
Captain, (Fire Department)                               1
TRANSIT POWER LINE WORKER SUPERVISOR II                  1
WIRE ROPE CABLE MAINTENANCE SUPERVISOR                   1
SUPPLY ROOM ATTENDENT                                    1
MEDIA PRODUCTION SUPERVISOR                              1
TRANSIT PAINT SHOP SUPERVISOR I                          1
SECRETARY, COMMISSION ON THE ENVIRONMENT                 1
ZOO CURATOR                                              1
Light Rail Vehicle Equip Eng                             1
COURT EXECUTIVE OFFICER                                  1
ASSISTANT DIRECTOR, JUVENILE HALL                        1
COURT ADMINISTRATIVE SECRETARY                           1
Name: JobTitle, Length: 2159, dtype: int64

In [70]:
#How many Job Titles were represented by only one person in 2013? 
#(e.g. Job Titles with only one occurence in 2013?) 
sal[sal['Year']==2013 ]['JobTitle']

72925                    Chief of Police
72926             Chief, Fire Department
72927     Battalion Chief, Fire Suppress
72928                  Asst Med Examiner
72929       Dep Dir for Investments, Ret
72930       Asst Chf of Dept (Fire Dept)
72931        Executive Contract Employee
72932                        Dept Head V
72933         Gen Mgr, Public Trnsp Dept
72934       Asst Chf of Dept (Fire Dept)
72935                        Dept Head V
72936        Senior Physician Specialist
72937                     Deputy Chief 3
72938        Dep Chf of Dept (Fire Dept)
72939     Battalion Chief, Fire Suppress
72940        Dep Chf of Dept (Fire Dept)
72941     Battalion Chief, Fire Suppress
72942     Battalion Chief, Fire Suppress
72943       Lieutenant, Fire Suppression
72944                     Deputy Chief 3
72945                              Mayor
72946           Assistant Deputy Chief 2
72947                     Deputy Chief 3
72948       Asst Chf of Dept (Fire Dept)
72949     Battalion Chief, Fire Suppress
72950                     Deputy Chief 3
72951                     Deputy Chief 3
72952     Battalion Chief, Fire Suppress
72953           Adm, SFGH Medical Center
72954     Battalion Chief, Fire Suppress
                       ...
110501                 Recreation Leader
110502                         Custodian
110503                 Recreation Leader
110504             School Crossing Guard
110505             School Crossing Guard
110506                     Special Nurse
110507                 Recreation Leader
110508                 Recreation Leader
110509                 Recreation Leader
110510                 Recreation Leader
110511             School Crossing Guard
110512              Special Assistant 14
110513                     Special Nurse
110514        BdComm Mbr, Grp2,M=$25/Mtg
110515        BdComm Mbr, Grp2,M=$25/Mtg
110516           Senior Assessment Clerk
110517                   General Laborer
110518            Public Service Trainee
110519            Public Service Trainee
110520            Public Service Trainee
110521      Environmental Service Worker
110522      Environmental Service Worker
110523      Environmental Service Worker
110524      Environmental Service Worker
110525      Environmental Service Worker
110526           PS Aide Health Services
110527                      Senior Clerk
110528                  Police Officer 3
110529                  Police Officer 3
110530                  Police Officer 3
Name: JobTitle, Length: 37606, dtype: object

In [71]:
sal[sal['Year']==2013]['JobTitle'].value_counts()==1

Transit Operator                  False
Special Nurse                     False
Registered Nurse                  False
Public Svc Aide-Public Works      False
Custodian                         False
Firefighter                       False
Police Officer 3                  False
Patient Care Assistant            False
Recreation Leader                 False
Deputy Sheriff                    False
Police Officer                    False
Public Service Trainee            False
Police Officer 2                  False
Attorney (Civil/Criminal)         False
Sergeant 3                        False
Porter                            False
Eligibility Worker                False
General Laborer                   False
Gardener                          False
EMT/Paramedic/Firefighter         False
Senior Clerk                      False
Parking Control Officer           False
Library Page                      False
Senior Eligibility Worker         False
Senior Clerk Typist               False
Licensed Vocational Nurse         False
Clerk                             False
Stationary Engineer               False
Nurse Practitioner                False
PS Aide to Prof                   False
                                  ...
Adm, SFGH Medical Center           True
Special Assistant 21               True
Performance Analyst I              True
Roofer Supervisor 1                True
Emergency Services Assistant       True
Window Cleaner Supervisor          True
Dir Emp Relations Div              True
Assistant Director, Probate        True
Research Psychologist              True
IS Operator-Analyst                True
Mental Health Hearing Officer      True
Sctry, Juv Probation Comm          True
Ornamental Iron Wrk Sprv 1         True
Media Production Specialist        True
Chf Victim/Witness Invstgtor       True
Arborist Technician Supv II        True
Sr Light Rail Veh Equip Eng        True
Forensic Toxicologist              True
Special Assistant 14               True
Traffic Sign Manager               True
Municipal Stadium Groundskpr       True
Asst Chf, Bur Clm Invest&Admin     True
Environmental Hlth Tech 2          True
Mgr Museum Security Services       True
Media Programming Spec             True
Depty Sealer of Weights & Meas     True
Sctry, Human Svcs. Commission      True
Auto Body & Fender Wrk Sprv 1      True
Feasibility Analyst, Port          True
Administrative Analyst I           True
Name: JobTitle, Length: 1051, dtype: bool

In [73]:
sum([True, True, False, True]) # you can do SUM on True False

3

In [74]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts()==1)

202

In [82]:
# How many people have the word Chief in their job title? (This is pretty tricky)
def find_chef(s):
    if 'chef' in s.lower():
        return True
    else:
        return False
    
sum(sal['JobTitle'].apply(lambda x: find_chef(x)) )

21

In [86]:
sal[['Benefits', 'TotalPayBenefits']].corr()

                  Benefits  TotalPayBenefits
Benefits           1.00000           0.93014
TotalPayBenefits   0.93014           1.00000